[Unit]
Description=judge-system-4.0

[Service]
WorkingDirectory=/opt/Judger
Type=simple
EnvironmentFile=/etc/systemd/system/judge.service.d/env.conf
ExecStart=/opt/Judger/bin/judge-system --enable /etc/systemd/system/judge.service.d/ --cores 0-9
Restart=on-failure
User=root
Group=root
LimitCORE=infinity
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target